 <div class="user-details">
  <h1> About </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Based on</h2>
      <img src="https://raw.githubusercontent.com/hendraanggrian/ktfx/gh-pages/custom/javafx.png" height="60" width="auto">
      <p>JavaFX bundled in Oracle JDK 8.</p>
    </div>
      <div class="tech">
        <h2>Built with</h2>
        <img src="https://raw.githubusercontent.com/hendraanggrian/ktfx/gh-pages/custom/kotlin.png" height="60" width="60">
        <i class="devicon-gradle-plain colored"></i>
        <p>Written 99.9% in Kotlin and Gradle scripts.</p>
      </div>
    <div class="tech">
      <h2>Available on</h2>
      <img src="https://raw.githubusercontent.com/hendraanggrian/ktfx/gh-pages/custom/bintray.png" height="60" width="auto">
      <p>All artifacts are available on <a class="link" href="https://bintray.com/hendraanggrian/ktfx">JCenter</a> </p>
    </div>
</div>